body {
  margin: 0;
  font-family: Arial;
  background: #0d1117;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #161b22;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

button {
  padding: 12px 20px;
  background: #238636;
  color: white;
  border: none;
  cursor: pointer;
}

.services {
  padding: 60px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #161b22;
  padding: 20px;
  width: 200px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #161b22;
}

